@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml"; // 👈 importante
}

@{
    ViewData["Title"] = "Inicio";
}

<h1>VIVINT</h1>
<p>vista Razor.</p>

<ul>
    <li>Home</li>
    <li>About us</li>
    <li>Cart</li>
</ul>
