@page "/"

<style>
    .img-zoom {
        width: 100%; /* Hace la imagen más grande que el contenedor */
        height: 100%; /* Aumenta su altura también */
        object-fit: cover; /* Mantiene la proporción y recorta lo que sobresalga */
        position: absolute; /* Permite que la imagen se expanda sin afectar otros elementos */
        top: 65%; /* Mueve la imagen hacia abajo */
        left: 50%; /* Mueve la imagen hacia la derecha */
        transform: translate(-50%, -50%); /* Centra la imagen dentro del contenedor */
    }

    .img-zoom2 {
        width: 100%; /* Hace la imagen más grande que el contenedor */
        height: 100%; /* Aumenta su altura también */
        object-fit: cover; /* Mantiene la proporción y recorta lo que sobresalga */
        position: absolute; /* Permite que la imagen se expanda sin afectar otros elementos */
        top: 95%; /* Mueve la imagen hacia abajo */
        left: 50%; /* Mueve la imagen hacia la derecha */
        transform: translate(-50%, -50%); /* Centra la imagen dentro del contenedor */
    }
</style>

<PageTitle>Home</PageTitle>


<MudCarousel 
    Class="mud-width-full mud-height-full" 

    ShowArrows="@arrows" 
    ShowBullets="@bullets" 
    EnableSwipeGesture="@enableSwipeGesture" 
    AutoCycle="@autocycle" 
    TData="object"
>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-content-center align-items-center overflow-hidden"
             style="height:100%; width:100%; position:relative;">
            <MudImage Fluid="true" Src="images/banner/banner1.PNG" Alt="Swedish Farm House" Class="rounded-lg img-zoom" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-content-center align-items-center overflow-hidden"
             style="height:100%; width:100%; position:relative;">
            <MudImage Fluid="true" Src="images/banner/banner2.PNG" Alt="Swedish Farm House" Class="rounded-lg img-zoom2" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-content-center align-items-center overflow-hidden"
             style="height:100%; width:100%; position:relative;">
            <MudImage Fluid="true" Src="    images/banner/banner3.PNG" Alt="Swedish Farm House" Class="rounded-lg img-zoom" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = false;
    private Transition transition = Transition.Slide;
}