@page "/orders"
@using Frontend.ViewModels.Orders
@using System.Net.Http.Json;
@using MudBlazor.Services
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Ordenes</PageTitle>

<h1>Ordenes</h1>

<MudDataGrid Items="@ordersModel.Take(1)">
    <Columns>
        <PropertyColumn Property="x => x.UserEmail" Title="Email" />
        <PropertyColumn Property="x => x.Address" Title="Dirección" />
        <PropertyColumn Property="x => x.OrderTotal" Title="Total" />    
        <PropertyColumn Property="x => x.OrderPlaced" Title="Fecha"/>
    </Columns>
</MudDataGrid>


@code {
    private IEnumerable<OrderVm> ordersModel = new List<OrderVm>();

    protected override async Task OnInitializedAsync()
    {
        await GerOrders();
    }
    private async Task GerOrders()
    {
        var httpClient = _httpClientFactory.CreateClient("ApiEcommerce");
        // ordersModel = await Http.GetFromJsonAsync<List<OrderVm>>("https:localhost:7153/api/Orders");
        ordersModel = await httpClient.GetFromJsonAsync<List<OrderVm>>("/api/Orders");
    }
}