<!--

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
<MudNavMenu>
    <MudNavLink Href="/products" Match="NavLinkMatch.All">Products</MudNavLink>
    <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Packages</MudNavLink>
    <MudNavGroup Title="Info" Expanded="false">
        <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">About</MudNavLink>
        <MudNavLink Href="/security"  Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">Other</MudNavLink>
</MudNavMenu>
-->

<MudNavMenu>
    <MudPaper Width="250px" Class="py-3" Elevation="0">
        <MudDrawerHeader>            
            <MudText Typo="Typo.h6" Class="px-4">My Vivint admin panel</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Welcome</MudText>
            <MudDivider Class="my-2" />
            <MudNavLink 
                Href="/admin-panel" 
                Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink 
                Href="/admin-products" 
                Icon="@Icons.Material.Filled.Store">Products</MudNavLink>
            <MudNavLink 
                Href="/billing"
                Icon="@Icons.Material.Filled.ChecklistRtl">Orders</MudNavLink>
        </MudNavMenu>
    </MudPaper>
</MudNavMenu>