@page "/products"

@using Frontend.Services
@inject ProductService ProductService

<h3>Product List</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else if (products.Length == 0)
{
    <p>No products available.</p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>
                <MudCard>
                    <MudCardMedia Image="" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">@product.Name - @product.Price</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                </MudCard>
            </li>
        }
    </ul>
}

